

<!-- Navigation -->




<!-- intro-of philteck -->
<nav>
  <div class="nav-wrapper">
    <ul class="right hide-on-med-and-down">
      <li><a href="home/index", class="waves-effect waves-light btn">HOME</a></li>
      <li><a href="home/aboutme", class="waves-effect waves-light btn">ABOUT</a></li>
      <li><a class="waves-effect waves-light btn">PROJECTS</a></li>
      <li><a class="waves-effect waves-light btn-large">CONTACT</a></li>
    </ul>
  </div>
</nav>
<div class="intro-header">
  <div class="bg-overlay">
    <div class="container">
        <div id="trans">
      <h1>PhilTeck</h1>
      </div>
    </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="intro-message">
              <h4>See Your imaginary site come to life.</h4>
              <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit. Donec eros ante, gravida quis<br> efficitur in, pretium non massa. </p>
                <ul class="list-inline intro-social-buttons"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="clearfix"> 
  <!--   github account -->
  <a href="https://github.com/philcoo" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>  
  <!--  linkedin account -->
  <a href="https://www.linkedin.com/home?trk=nav_responsive_tab_home" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
</div>

<div class="sec-sect">
  <div id="main-sect">
   <h4>Make it all happen Here </h4>
   <p>ed eget tincidunt lorem. Nam ultricies<br /> faucibus vestibulum. Nulla volutpat vel dolor nec ullamcorper. Vestibulum vitae dictum enim.</p>
  </div>
</div>

<!--  about what we offer -->

<a  name="about"></a>
<div class="content-section-a">
  <div class="row">
    <div class="col s4">
      <div id="graph">
        <h4>graphic design</h4>
        <div id="image">
          <%= image_tag("graphic.jpg",:size => "300x200") %>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit tempus orci,<br> ut semper arcu blandit eu. Sed pellentesque placerat efficitur.<br> Aliquam sit amet enim ac nulla imperdiet lobortis id quis dui. </p>
      </div>
    </div>
    <div class="col s4">
      <div id="graph">
        <h4>Web Application</h4>
        <div id="image">
         <%= image_tag("app.jpg",:size => "300x200" ) %>
       </div>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit tempus orci,<br> ut semper arcu blandit eu. Sed pellentesque placerat efficitur. <br>Aliquam sit amet enim ac nulla imperdiet lobortis id quis dui. </p>
     </div>
   </div>
   <div class="col s4">
    <!-- Promo Content 3 goes here -->
    <div id="graph3">
      <h4>Project Manager</h4>
      <div id="image">
        <%= image_tag("manager.jpg",:size => "300x200") %>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit tempus orci,<br> ut semper arcu blandit eu. Sed pellentesque placerat efficitur.<br> Aliquam sit amet enim ac nulla imperdiet lobortis id quis dui. </p>
    </div>
  </div>
</div>

<!-- featured of projects -->
<div class="container">
  <div class="fea-proj">
    <span> 
      <h3>Featured Of Project</h3>
    </span>
     <%= image_tag("topbaner.jpg", :size => "600x300")  %>
     <%= image_tag("shopper.jpg", :size => "600x300")  %> 
     <%= image_tag("weeknews.jpg", :size => "600x300")  %> 
     <%= image_tag("cyncake.jpg", :size => "600x425")  %>
 </div>
</div>

<div class="container">
  <div class="form2">
    <form action="https://formspree.io/phil9231@gmail.com"
    method="POST">
    <input type="text" name="Full Name" placeholder="Full Name "><br>
    <input type="text" name="Phone" placeholder="Phone"><br>
    <input type="email" name="email" placeholder="Email"><br>
    <textarea name="message" placeholder="Your message"></textarea>
    <input type="submit" value="Submit" style="color:green; font-size:20px;">
  </form> 
</div>
</div>

<!-- 
 testimonies and contact info -->



 <!-- Footer -->
 <footer>
   <div class="row">
    <div class="col s4">
     <a class="waves-effect waves-light btn">IG</a>
     <a class="waves-effect waves-light btn">Tweeter</a>
     <a class="waves-effect waves-light btn">PROJECTS</a>
     <a class="waves-effect waves-light btn-large">Copy Right</a>

   </div>
   <div class="col s8">
     <li><a class="waves-effect waves-light btn">HOME</a></li>
     <li><a class="waves-effect waves-light btn">ABOUT</a></li>
     <li><a class="waves-effect waves-light btn">PROJECTS</a></li>
     <li><a class="waves-effect waves-light btn-large">CONTACT</a></li>

   </div>
 </div>
</footer>



