<h1 style="color:orange; text-align:center; font-family:impact;">My Work</h1>
<table class="tbl">
  <tr>
    <th><a href="https://cynccakes.herokuapp.com/home/index"></a></th>
    <th><a href="https://cynccakes.herokuapp.com/home/index"><%= image_tag("shopper.jpg", height:'50', width: '400',)  %><div class="note"><h5>photogur</h5>
	<p>photogur</p>you can share you photo freely. </div></a></th>

    <th><a href="https://cynccakes.herokuapp.com/home/index"></a></th>
    <th><a href="https://cynccakes.herokuapp.com/home/index"><%= image_tag("photo.jpg", height:'20', width: '400',)  %><div class="note"><h5>photogur</h5>
	<p>photogur</p>you can share you photo freely. </div></a></th>


    <th><a href="https://cynccakes.herokuapp.com/home/index"></a></th>
    <th><a href="https://cynccakes.herokuapp.com/home/index"><%= image_tag("photo.jpg", height:'20', width: '400',)  %><div class="note"><h5>photogur</h5>
	<p>photogur</p>you can share you photo freely. </div></a></th>
	
    <th><a href="https://cynccakes.herokuapp.com/home/index"></a>
</th>
  </tr>
</table>
<table class="tbl">
  <tr>
    <th><a href="https://cynccakes.herokuapp.com/home/index"></a></th>
    <th><a href="https://cynccakes.herokuapp.com/home/index"><%= image_tag("cynlink.jpg", height:'70', width: '400',)  %><div class="note"><h5>CCC</h5>
<h5>Cynthia_Couture_Cake</h5>
	<p>
	it's the site that gives you the sweets you need. <br> you can learn more. <br> here</p></div></</a></th>
    <th><a href="https://cynccakes.herokuapp.com/home/index"></a></th>
    <th><a href="https://cynccakes.herokuapp.com/home/index"><%= image_tag("weeknews.jpg", height:'70', width: '400',)  %><div class="note"><h5>Weekly@News</h5>
	<p>Weeky@News
	<br>
	it's an app that share the good news, <br>uptade make every week <br>to encourage those that are strive for the good Lord.</p></div></a></th>
	
    <th><a href="https://cynccakes.herokuapp.com/home/index"></a>
</th>
  </tr>
</table>

<span>Hover</span>
<ul class="nav navbar-nav navbar-right" style="background:white; ">
     <li class="list">
         <a href="index" style="color:red; font-size:2rem;">Home</a>
    </li>
    <li>
        <a href="aboutme" style="color:blue; font-size:2rem;">About</a>
    </li>
    <li>
     <a href="projects" style="color:green; font-size:2rem;">My Work</a>
 	</li>
    <li>
     	<a href="contact" style="color:#7c7f7f; font-size:2rem;">Contact</a>
    </li>
</ul>